<nav class="dashboard-navbar">
  <div class="nav-left">
    <img src="../assets/images/logos/logo-2.png" class="logo">
    <span class="title">Shule-Net</span>
  </div>

  <div class="nav-right">
    <div id="userMenu" class="user-menu">
      <i class="fas fa-user-circle user-icon"></i>
      <i class="fas fa-chevron-down"></i>

      <ul id="dropdownMenu" class="dropdown">
        <li><a href="#">Profile</a></li>
        <li><a href="../landing/index.html">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>